<!DOCTYPE html>
<html lang="en" ng-app='app'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS - Get Started</title>
    <link rel="stylesheet" href="style.css">
    <script src='node_modules/angular/angular.min.js'></script>
    <script src="script.js"></script>
</head>
<body ng-controller="MainController">
    <h1>GitHub Viewer</h1>

    <div ng-include="'error.html'" ng-show="error"></div>

    <p>Username: {{username}}</p>
    <form name="searchUser" ng-submit="search(username)">
        <input type="search" placeholder="username to find" name="username" ng-model="username" required />
        <input type="submit" value="Search" />
    </form>

    <div ng-show="user.name">
        <p>Username: {{ user.name }}</p>
        <p>Location: {{ user.location }}</p>

        <div>
            <img ng-src="{{ user.avatar_url }}" alt="{{user.name}}" title="{{user.name}}">
        </div>

        <div>
            <h4>Repos</h4>
            <table>
                <thead>
                    <tr>
                        <th ng-click="sortColumn('id')">Id</th>
                        <th ng-click="sortColumn('name')">Name</th>
                        <th ng-click="sortColumn('stargazers_count', '-')">Stars</th>
                        <th ng-click="sortColumn('language')">Language</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="repo in repos | orderBy: repoSortOrder">
                        <td> {{ repo.id }} </td>
                        <td>{{ repo.name }}</td>
                        <td>{{ repo.stargazers_count | number }}</td>
                        <td>{{ repo.language }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>